@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg,#051817, #0e3839);
    height: 200px;
    width: 106%;
    font-family: 'Poppins', sans-serif;
    color: #F9A826;
    text-shadow: 1px 1px 7px;
    /* border-radius: 15px; */
    border: 2px solid silver;
    box-sizing: 0 0 5px 25px;
}

.clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.clock section p {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}
.clock section small {
    font-size: 1rem;
    color: silver;
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 375px) {
    .clock{
        width:100%;
       
    }
    .clock section p {
        font-size: 2rem;
    }
    .clock section small{
        font-size: .5rem;
    }
}
@media only screen and (max-width: 768px) {
    .clock{
        width:105%;
       
    }
    .clock section p {
        font-size: 2rem;
    }
    .clock section small{
        font-size: .5rem;
    }
}