@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 
.rows{
    width: 50vw;
    margin-bottom: 30%;

}
.column-container{
    border: 1px solid red;
    height: 30vh;
    margin-left: 20%;
    width: 50vw;
    padding: 2%;
}