@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 
.rows{
    width: 47vw;

}
.column-container{
    border-radius: 10px ;
    border: 1px solid grey;
    height: 30vh;
    margin-left: 20%;
    width: 50vw;
    padding: 2%;
    box-shadow: 10px 10px 10px rgb(203, 185, 185);
}