@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 
.rows{
    width: 47vw;
}
.name-display, .id-display, .price-display{
    line-height: 47px;
}
body{
    width: 95%;
    overflow-x: hidden;
}
.stats-container{
    display: flex;
    margin-top:10%;

}
.left{
    border-radius: 10px ;
    height: 70vh;
    width: 50vw;
    padding: 1rem;
    /* border: 1px solid grey; */
}
.column-container{
    border-radius: 10px ;
    height: 70vh;
    width: 50vw;
    padding: 2%;
    /* border: 1px solid grey; */
}
#coin-logo{
    margin-right: -2%
}
span{
    margin-left: 5%;
}
.rows{
    padding: 1px;
}
.product{
    padding: 1.5rem;
    text-align: center;
    font-weight:700;
}
@media only screen and (max-width:768px){
    .stats-container{
        display:none;
    }
}