@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.faq-container{
    width: 100%;
    height: 20vh;
    display: flex;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.faq-image{
    width: 50%;
}
.accordion{
    width: 50%;
}
.faq{
    padding: 1.5rem;
    text-align: center;
    font-weight:700;
}
#acc-header {
    width: 112%;
}
@media only screen and (max-width: 375px){
    .faq-container{
        flex-direction: column;
        height: 72vh;
        padding:auto;
    }
   
    .accordion{
        width:100%;
    }
    .faq-logo{
        width:200%
    }
}



