@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.features-container{
    background-color: #f1f1f1;
}
.features{
    display: flex;
    justify-content: space-evenly;
   padding: 5%;
}
.feature-title{
    text-align: center;
    font-weight: 400;
    padding: 1%;
}
.sell, .swap, .buy{
    width: 29%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Poppins', sans-serif;
    height: 50vh;
    padding: 2px;
    line-height: 30px;

}
.font{
    height: 10vh;
    color: #F9A826;
}
p{
    font-weight: 300;
}
.swap-title, .buy-title, .sell-title{
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: xx-large;
text-align: center;
}