@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.footer-container{
    background-color: #f2f7f9;
    height: 36vh;
    margin-top: 30%;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items:center ;
    justify-content: space-around;
    text-align: center;
    width:106%;
}
.second h3{
    line-height: 34px;
    color: black;
    font-family: 'Poppins' sans-serif;
    font-size: medium;
    font-weight: 400;
}
.third h3{
    line-height: 34px;
    color: black;
    font-family: 'Poppins' sans-serif;
    font-size: medium;
    font-weight: 400;
}
.fourth h3{
    line-height: 34px;
    color: black;
    font-family: 'Poppins' sans-serif;
    font-size: medium;
    font-weight: 400;
}
.fifth h3{
    margin-top: -13%;
    line-height: 34px;
    color: black;
    font-family: 'Poppins' sans-serif;
    font-size: medium;
    font-weight: 400;
}
.fifth h4{
    color: black;
    font-family: 'Poppins' sans-serif;
    font-size: medium;
    font-weight: 400;
  
}

.email-input{
    border-radius: 5px;
    border: 2px solid #F9A826;
    height: 6vh;
    width: 15vw;
    outline: 2px  cyan;
   
}
.email{
    display: flex;
    align-items: center;
}
.arrow{
    height: 5vh;
    background-color:#F9A826 ;
    border-radius: 10px;
    color: black;
    margin-left: 10%;
    cursor: pointer;
}
@media only screen and (max-width:375px){
    .first{
        display: none;
    }
}