@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.holder{
    width: 105%;
    overflow-x: hidden;
    height:80vh;
    overflow-y:hidden;
}
.nav-container {
    padding: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    background: #F2F7F9;
}
.downloadBtn{
    font-family: 'Roboto', sans-serif;
}
.hero{
    background: #F2F7F9;
    display: flex;
    justify-content: space-between;
}
.mockup{
    margin-top: -125px;
    width: 150%;
    
    
}
.left{
    width: 50%;
    text-align:justify;
}
.right{
    width: 50%;
    
}
.left-text{
    margin-top: 5rem;
    margin-left: 5%;
    
}
.paragraph{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height:68px;
}
.header{
    margin-left: 5px;
}
.fast{
    color: #F9A826;
    margin-left: 0.5%;
    
}
.description{
    font-family: 'Roboto', sans-serif;
    font-size: large;
}


@media only screen and (max-width:375px){
    .right{
        display:none;
    }
    
    .hero{
        display:block;
        text-align: justify;
    }
    .left{
        width:90% !important;
    }
    .paragraph p{
        font-size:30px;
        line-height:38px;
        background: #F2F7F9;
        text-align: justify;
    }
 .holder{
    width: 100% !important;
    height: 70vh !important;
    overflow-y:hidden;
 }
 #downloadBtn{
    display: none;
 }
 .navlist{
    display:none;
 }
 #market{
    display:none;
 }
 .left-text{
    margin-left: 4%;
 }
 .brand{
   display:none;
 }
}

@media only screen and (max-width:768px){
    .right{
        display:none;
    }
    .hero{
        display:block;
        text-align: justify;
    }
    .left{
        width:90% !important;
    }
    .paragraph p{
        font-size:30px;
        line-height:38px;
        background: #F2F7F9;
        text-align: justify;
    }
 .holder{
    width: 105% !important;
    height: 60vh !important;
    overflow-y:hidden;
    margin-top:-2%;
 }
 #downloadBtn{
    display: none;
 }
 .navlist{
    display:none;
 }
 #market{
    display:none;
 }
 .left-text{
    margin-left: 4%;
 }
 .brand{
   display:none;
 }
}