
.list-container{
    /* text-transform: capitalize; */
    
    margin-left:6%;
    margin-top: -15%;
}
.list-container h1{
    font-size:x-large;
    margin-left: .5%;
   
}
.list-input{
    width: 24vw;
    height: 7vh;
    border-radius: 10px;
    border: 2px solid #F9A826;
}
.input-btn{
    width: 10vw;
    height:7vh;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-left:.7rem;
}

.list-input::placeholder{
   text-align:left;
   padding:.3rem;
   
}



@media only screen and (max-width:375px){
    .list-container h1{
        padding: 1.5rem;
        text-align: center;
         font-weight:700;
    }
    .list-container{
        margin: 0;
    }
    .list-input{
        width: 60vw;
        height:7vh;
        margin-left: 2%;
    }
    .input-btn{
        width: 30vw;
    }
}