.navbar{
     width:106%;
     height:100px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding:1rem;
     background-color: #F2F7F9;
}


.navbar img{
    width:80px;
}

.nav-menu{
    display:flex;
}
.nav-item{
    padding:1rem;
}

.hamburger{
    display:none;
}

.nav-menu li a{
    text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  transition:0.5s;
}

.nav-menu li a:hover{
    color: white;
    transform:scale(2);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
}

.nav-menu li a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:110%;
    border-radius: 4px;
    height:110%;
    background:#F9A826;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  
}
.nav-menu li a:hover:before{
    transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

@media screen and (max-width:940px){
    .nav-menu{
        position: fixed;
        top:100px;
        right:-100%;
        flex-direction: column;
        justify-content: center;
        background-color:var(--darkgrey);
        width:60%;
        height:60%;
        text-align:center;
        transition: 0.4s;
    }

    .nav-menu.active{
    right:0;

    }
    .nav-item{
        margin:1.5rem;
        font-size: 1.8rem;
        justify-content:center;
    }
    .hamburger{
        display:flex;
        margin-right: 3% !important;

    }
    .navbar{
        background-color: #F2F7F9;
        width:105%;
    }
    .nav-menu li a{
        text-decoration: none;
      color: var(--white)
    }
}