.navbar{
     width:100%;
     height:100px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding:1rem;
}


.navbar img{
    width:80px;
}

.nav-menu{
    display:flex;
}
.nav-item{
    padding:1rem;
}

.hamburger{
    display:none;
}
.nav-menu li a{
    text-decoration: none;
  color: var(--white)
}

@media screen and (max-width:940px){
    .nav-menu{
        position: fixed;
        top:100px;
        left:-100%;
        flex-direction: column;
        justify-content: center;
        background-color:var(--darkgrey);
        width:100%;
        height:100%;
        text-align:center;
        transition: 0.4s;
    }

    .nav-menu.active{
        left:0;

    }
    .nav-item{
        margin:1.5rem;
        font-size: 1.8rem;
        justify-content:center;
    }
    .hamburger{
        display:flex;

    }
    .navbar{
        background-color: #F2F7F9;
        width:105%;
    }
}